$font-main: "Work Sans", serif;
$font-secondary: "Crimson Text", serif;

$font-size: 16px;

$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$gap: 20px;
$gap-lg: $gap * 1.5; // 30px
$gap-x2: $gap * 2; // 40px
$gap-x3: $gap * 3; // 60px

$primary-color: #74C69D;
$light-color: #ffffff;
$dark-color: #212529;
$black-color: #000;