@use "../../tools/mixins-media" as *;
@use "../../tools/mixins" as *;

.about {
    display: flex;
    justify-content: center;
    padding: 0 5.33%;

    @include md {
        margin-bottom: 40px;
    }

    @include md-min {
        margin-bottom: 82px;
    }

    &__container {
        @include container($size: 1180px)
    }
}
